.about {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.about img {
    width: 450px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.about h1 {
    margin-top: 0px;
}

.about #description {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 90%;
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
}

.about #description #image, #desciption #text {
    display: inline-block;
    position: relative;
    height: auto;
    text-align: justify;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


.about ul {
    list-style-type: decimal;
    padding: 0 20px 0 30px;
}

.about li {
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1400px) {
    .about #description {
        display: block;
    }

    .about #description #image {
        /* display: flex; */
        display: inline-block;
        left: 50%;
        transform: translate(-50%);
        margin-bottom: 20px;
    }

    .about img {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        display: inline-block;

        transform: translateY(0px);
        top: 0px;
    }

    .about #text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .about #description {
        font-size: 15px;
    }
}