.NavBar, .DropNavBar, #toggle, .Socials {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Lato', sans-serif;
  z-index: 999;
  position: relative;
}
  
.NavBar li {
  float: left;
}

.NavBar li a {
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  display: block;
  text-align: center;
  width: 120px;
}


.NavBar ul {
  background-color: transparent;
  opacity: 0.5;
  width: 100%;
  list-style-type: none;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
}

.DropNavBar #toggle {
  /* position: fixed; */
  display: inline-block;
  margin: 0px;
  padding: 7px;
  /* border: 0.3px solid white; */
  border: none;
  color: white;
  background-color: black;
  /* opacity: 0.9; */
  border-radius: 2px;
  /* top: 3px;
  left: 3px; */
  outline: none;
}


.DropNavBar #drop_nb {
  width: 100%;
  list-style-type: none;
  position: fixed;
  margin: 0;
  padding: 0;
  display: block;


  opacity: 0;
}

.DropNavBar li a{
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.DropNavBar li {
  background-color: black;
}

.DropNavBar a:hover {
  /* background-color: #3e5d86 ; */
  background-color: #717171;
}

.DropNavBar #placeholderBar {
  width: 100%;
  display: inline-block;
  opacity: 0.5;
  background-color: black;
}

.DropNavBar .switch, .NavBar .switch {
  /* top: 50%;
  transform: translateY(-50%); */
  margin-left: 5px;
}

#toggle_background {
  font-family: 'Lato', sans-serif;
}

#switch_container {
  position: absolute;
  display: flex;
  height: 100%;
  right: 0px;
  margin-right: 10px;
  max-width: fit-content;
  font-family: 'Raleway', sans-serif;
  top: 0px;
}

.MuiTypography-body1 {
  font-family: 'Raleway', sans-serif;
}

.DropNavBar {
  width: 100%;
  position: fixed;
  z-index: 999;
}

.Socials ul {
  background-color: black ;
  list-style-type: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.Socials li a{
  color: white;
  text-decoration: none; /*takes out underline from href */
  padding: 15px;
  width: 120px;
  display: block;
  text-align: center;
  outline: none;
}

.Socials li {
  float: left;
}
